body{
    background-color: rgb(38, 167, 172);
}
h1{
    font-size: 1.2em;
}
img{
    border: 5px solid #ffff;
}
div{
    text-align: center;
}
.coins_arrondis{
    border-radius: 20px;
    background-color: chocolate;
    padding: 10px;
}
a:hover{
    background-color: rgb(161, 161, 94);
}